#tooltip {
  position: absolute;
  background-color: white;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  max-width: 200px;
  cursor: pointer;
}



// WEBPACK FOOTER //
// ./src/stylesheets/src/stylesheets/tooltip.scss